.error {
    color:red;
    text-align:center;
}
.success {
    color:green;
    text-align:center;
}

header h3 {
    text-align:left;
}

.jumbotron h1, .jumbotron h2, .jumbotron h3 {
  text-align:center;
}

a.text-muted:hover {
    text-decoration: none
}

.form-actions {
    margin: 0;
    margin-top: 1rem;
    background-color: transparent;
    text-align: center;
}

.fileupload-progress {
	margin: 10px 0;
}
.fileupload-progress .progress-extended {
	margin-top: 5px;
}

#progress {
	margin: 1rem;
}