@(trailerForm: Form[TrailerData])(implicit messages: Messages, flash: Flash)

@implicitField = @{ helper.FieldConstructor(trailer.f) }

@main("Trailer Maker") {
<h1>Easy way to create trailers.</h1>
<h3>Just upload your video and adjust your settings</h3>

@flash.get("error").map(err => {
<h2>@err</h2>
})

@helper.form(action = routes.TrailersController.makeTrailer(), 'enctype -> "multipart/form-data") {


<p>
<input type="file" name="video">

  @helper.inputText(trailerForm("duration"), '_showConstraints -> false)
  @helper.inputText(trailerForm("length"), '_showConstraints -> false)

  <p>
    <input type="submit">
  </p>
}

<div id="progress"></div>
}
