@(trailerForm: Form[TrailerData], conf: play.api.Configuration)(implicit messages: Messages, flash: Flash)

@implicitField = @{ helper.FieldConstructor(trailer.f) }

@main("Trailer Maker") {
<header class="jumbotron hero-spacer">
<h1>Easy way to create trailers.</h1>
<h3>Just upload your video and adjust your settings</h3>

@flash.get("error").map(err => {
<div class="error"><strong>{err}</strong></div>
})

@helper.form(action = routes.TrailersController.makeTrailer(), 'id -> "makeTrailer") {
<!-- The fileinput-button span is used to style the file input field as button -->
<div class="fileuploadbtn">
  <span class="btn btn-success fileinput-button">
        <i class="fa fa-plus"></i>
        <span>Select file (max @conf.get[String]("parsers.anyContent.maxLength"))</span>
  <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="video"/>
    </span>
</div>
<!-- The global progress bar -->
<div id="progress" class="progress">
  <div class="progress-bar progress-bar-success"></div>
</div>
<!-- The container for the uploaded files -->
<div id="files" class="files"></div>

<div class="form-group error" id="noFileError"></div>

<input type="hidden" id="videoref" name="videoref"/>
<div class="row" id="inputs">
  @helper.input(trailerForm("duration"), '_showConstraints -> false) { (id, name, value, args) =>
  <input type="text" name="@name" id="@id" class="form-control" value="@value" aria-describedby="durationHelp" @toHtmlArgs(args)>
  <small id="durationHelp" class="form-text text-muted">Between @conf.get[String]("trailer.duration.min") and @conf.get[String]("trailer.duration.max") ms </small>
  }

  @helper.input(trailerForm("length"), '_showConstraints -> false) { (id, name, value, args) =>
  <input type="text" name="@name" id="@id" class="form-control" value="@value" aria-describedby="lengthHelp" @toHtmlArgs(args)>
  <small id="lengthHelp" class="form-text text-muted">Between @conf.get[String]("trailer.cutlength.min") and @conf.get[String]("trailer.cutlength.max") ms </small>
  }
</div>

<div class="form-actions">
  <button type="submit" id="btnMakeTrailer" class="btn btn-primary">Make trailer</button>
</div>
}
</header>
<div class="row text-center">
    <div class="col-lg-6 col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Duration</h4>
                <p class="card-text">Specify the length in milliseconds of the resulting trailer you want to create.</p>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Cut length</h4>
                <p class="card-text">Defines in milliseconds the length of each part used to make the trailer.</p>
            </div>
        </div>
    </div>
</div>

}
