@(trailerForm: Form[TrailerData])(implicit messages: Messages)

@main("Trailer Maker") {
<h1>Easy way to create trailers.</h1>
<h3>Just upload your video and adjust your settings</h3>

@helper.form(action = routes.TrailersController.makeTrailer(), 'enctype -> "multipart/form-data") {
  @helper.inputText(trailerForm("duration"))
  @helper.inputText(trailerForm("length"))

  <input type="file" name="video">
  <p>
    <input type="submit">
  </p>
}

<!--
<form id="formTrailer" method="post" action="/mt">
  <input type="text" name="length" placeholder="Final length in ms" value="15000"/>
  <input type="submit" value="Go!"/>
</form>
-->
<div id="progress"></div>
}
