@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="@routes.Assets.versioned("bootstrap/js/jquery-3.2.1.min.js")"></script>
        <script src="@routes.Assets.versioned("bootstrap/js/popper.min.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("bootstrap/css/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("bootstrap/js/bootstrap.min.js")"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/narrow-jumbotron.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/main.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("jquery-fileupload/css/jquery.fileupload.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("jquery-fileupload/css/jquery.fileupload-ui.css")"/>
        <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
        <script src="@routes.Assets.versioned("jquery-fileupload/js/vendor/jquery.ui.widget.js")"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="@routes.Assets.versioned("jquery-fileupload/js/jquery.iframe-transport.js")"></script>
        <!-- The basic File Upload plugin -->
        <script src="@routes.Assets.versioned("jquery-fileupload/js/jquery.fileupload.js")"></script>
    </head>
    <body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link active" href="https://github.com/alexandrelanglais/trailer-maker-web">We're open source</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted"><a class="text-muted" href="/">Trailer maker</a></h3>
        </div>

        <div class="jumbotron">
            @content
        </div>
        <div class="row marketing">
            <div class="col">
                <h4>Duration</h4>
                <p>Specify the length in milliseconds of the resulting trailer you want to create.</p>

                <h4>Cut length</h4>
                <p>Defines in milliseconds the length of each part used to make the trailer.</p>
            </div>
        </div>
        <footer class="footer">
            <p>&copy; Trailermaker.io 2017</p>
        </footer>

    </div>
    </body>
</html>
