@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        <script src="@routes.Assets.versioned("deps/node_modules/jquery/dist/jquery.min.js")"></script>
        <script src="@routes.Assets.versioned("deps/node_modules/popper.js/dist/umd/popper.min.js")"></script>

        <!--link rel="stylesheet" href="@routes.Assets.versioned("deps/node_modules/tether/dist/css/tether.min.css")"-->
        <link rel="stylesheet" href="@routes.Assets.versioned("deps/node_modules/bootstrap/dist/css/bootstrap.min.css")">
        <script src="@routes.Assets.versioned("deps/node_modules/bootstrap/dist/js/bootstrap.min.js")"></script>

        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/heroic-features.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <script src="@routes.Assets.versioned("javascripts/main.js")"></script>

        <link rel="stylesheet" href="@routes.Assets.versioned("jquery-fileupload/css/jquery.fileupload.css")"/>
        <link rel="stylesheet" href="@routes.Assets.versioned("jquery-fileupload/css/jquery.fileupload-ui.css")"/>
        <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
        <script src="@routes.Assets.versioned("jquery-fileupload/js/vendor/jquery.ui.widget.js")"></script>
        <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
        <script src="@routes.Assets.versioned("jquery-fileupload/js/jquery.iframe-transport.js")"></script>
        <!-- The basic File Upload plugin -->
        <script src="@routes.Assets.versioned("jquery-fileupload/js/jquery.fileupload.js")"></script>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </head>
    <body>

    <div class="container" id="main">
    <!-- Navigation -->
      <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.reddit.com/r/trailermaker"><span class="fa fa-reddit"></span> Trouble?</a>
                    </li>
                </ul>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="/app"><span class="fa fa-download"></span> Download</a>
                    </li>
                </ul>
                @*
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.reddit.com/r/trailermaker"><span class="fa fa-paypal"></span> Donate!</a>
                    </li>
                </ul>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.reddit.com/r/trailermaker"><span class="fa fa-github"></span> We're OpenSource</a>
                    </li>
                </ul>
                *@
            </nav>
            <h3 class="text-muted"><a class="text-muted" href="/">Trailer maker</a></h3>
      </div>
      <!-- Jumbotron Header -->
      <header class="jumbotron hero-spacer">
          @content
      </header>
      <hr>
      <div class="row text-center">
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Duration</h4>
              <p class="card-text">Specify the length in milliseconds of the resulting trailer you want to create.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Cut length</h4>
              <p class="card-text">Defines in milliseconds the length of each part used to make the trailer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- /.container -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">&copy; Trailermaker.io 2017</p>
      </div>
    </footer>
    </body>
</html>
